@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

$backgroundColorTransp: rgba(20, 88, 151, 0.11);

$white: white;
$lightGrey: #a9cde6;
$lightBlue: #6abeda;
$darkBlue: rgb(19, 34, 85);
$green: #00c580;
$lightGreen: #46ffbe;
