@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

$backgroundColor: #348e91;
$backgroundColorTransp: rgba(20, 88, 151, 0.13);

$white: white;
$lightGrey: #d3d3d3;
$lightBlue: #add8e6;
$darkBlue: rgb(19, 34, 85);
